body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
}

.nav-link {
    /* float: left; */
     /* margin-left: 2%;   */
    font-size: 20px;
    padding: 10px;
    background-color: indigo;
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

#nav-container {
    margin-bottom: 20px;
    /* display: flex;
    justify-content: space-between;   */
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */
}

a {
    text-decoration: none;
    color: white;
}

.cur-status {
    font-size: 22px;
    color: green;
    margin: 0;
}

.nav-link:hover {
    color: lightskyblue;
    transform: scale(1.05);
}

hr {
    border: indigo 2px solid;
    margin-top: 50px;
}

.alert {
    width: 30%;
    margin-left: 30%
}

button {
    transition: all .3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

.tooltip-inner {
    white-space:pre-wrap;
}

