table {
    margin-top: 25px;
    border-collapse: collapse;
    width: 80%;
    margin-left: 100px;
}
  
td {
    border: 5px solid lightskyblue;
    padding: 10px;
    font-size: 25px;
    text-align: center;
}

#table-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    background-color: white;
    border: none;
}

th {
    font-size: 25px !important; 
    border: indigo 5px solid;
    padding: 5px;
    background-color: white;
    text-align: center !important;
}

.red {
    color: red;
}