{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/actions.css') }}">
    <table>
        <tr><th id="table-title" colspan="4">ACTIONS</th></tr>
        <tr>
            <th>Action</th>
            <th>Yrs Wait</th>
            <th>Details</th>
            <th>Prerequisites</th>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('buy_organic') }}">
                    <button type="submit" id="buy_organic" class="{{ 'afford' if ((2000 * num_people) < amt_can_afford) else 'not-afford' }}">Buy organic</button><br>
                    {% if player_info.job == "Farmer" %}
                    <label>pay ${{ "{:,.0f}".format((2000 * num_people) * 0.75) }}</label><br>
                    {% else %}
                    <label>pay ${{ "{:,.0f}".format(2000 * num_people) }}</label><br>
                    {% endif %}
                    <label>receive {{ "{:,.0f}".format(50 * num_people) }} points</label>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_buy_organic }}</td>
            <td>
                <ul>
                    <li>yearly shopping cost increased to $2000 (instead of $1000) per person</li>
                    <li>receive 50 points per person</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="{{ 'no' if player_info.path == 'college' else 'yes' }}">cannot be in college</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('upgrade_appliances') }}">
                    <button type="submit" id="upgrade_appliances" class="{{ 'afford' if (house != 'None') and ((0.01 * house.cost) < amt_can_afford) else 'not-afford' if (house != 'None') else '' }}">Upgrade appliances</button><br>
                    {% if house != "None" %}
                    <label>pay ${{ "{:,.0f}".format(0.01 * house.cost) }}</label><br>
                    <label>receive 100 points</label>
                    {% endif %}
                </form>
            </td>
            <td></td>
            <td>
                <ul>
                    <li>pay 1% of house cost</li>
                    <li>receive 100 points</li>
                    <span class="once">* can only do once per house</span>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="{{ 'yes' if player_info.house != 'None' and house.category != 'no-family' else 'no' }}">must have at least small family house</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('change_car') }}">
                    <button type="submit" id="change_car">Change car</button><br>
                    {% if car != "None" %}
                    <label><b>From:</b></label>
                        <select name="car" id="car-from" class="dropdown" onchange="updateCarPoints()">
                            <option value="{{ car.name }}" selected>{{ car.name }}</option>
                            {% for car in cars %}
                            <option value="{{ car.name }}" class="{{ car.category }}">{{ car.name }}</option>
                            {% endfor %}
                        </select><br>
                    <label id="label-to"><b>To:</b></label>
                        <select name="car" id="car-to" class="dropdown" onchange="updateCarPoints()">
                            <option value="{{ car.name }}" selected>{{ car.name }}</option>
                            {% for car in cars %}
                            <option value="{{ car.name }}" class="{{ car.category }}">{{ car.name }}</option>
                            {% endfor %}
                        </select>
                    <label>receive <span id="car-change-points">0</span> points</label>
                    {% endif %}
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_change_car }}</td>
            <td>
                <ul>
                    <li>buy first car (military) OR</li>
                    <li>buy new car, change in price = | new price - old price |</li>
                    <li>use following chart to determine points gained/lost</li>
                    <ul>
                        <li>change in price <= 10,000: 10 points </li>
                        <li>change in price <= 20,000: 20 points</li>
                        <li>change in price <= 50,000: 35 points</li>
                        <li>change in price <= 80,000: 55 points</li>
                        <li>change in price > 80,000: 80 points</li>
                    </ul>
                </ul>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('change_house') }}">
                    <button type="submit" id="change_house">Change house</button>
                    {% if house != "None" %}
                    <label><b>From:</b></label>
                        <select name="house" id="house-from" class="dropdown" onchange="updateHousePoints()">
                            <option value="{{ house.name }}" selected>{{ house.name }}</option>
                            {% for house in houses %}
                            <option value="{{ house.name }}" class="{{ house.category }}">{{ house.name }}</option>
                            {% endfor %}
                        </select><br>
                    <label id="label-to"><b>To:</b></label>
                        <select name="house" id="house-to" class="dropdown" onchange="updateHousePoints()">
                            <option value="{{ house.name }}" selected>{{ house.name }}</option>
                            {% for house in houses %}
                            <option value="{{ house.name }}" class="{{ house.category }}">{{ house.name }}</option>
                            {% endfor %}
                        </select>
                    <label>receive <span id="house-change-points">0</span> points</label>
                    {% endif %}
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_change_house }}</td>
            <td>
                <ul>
                    <li>buy first house OR</li>
                    <li>buy new house, change in price = | new price - old price |</li>
                    <li>use following chart to determine points gained/lost</li>
                    <ul>
                        <li>change in price <= 50,000: 35 points </li>
                        <li>change in price <= 100,000: 55 points</li>
                        <li>change in price <= 250,000: 80 points</li>
                        <li>change in price <= 500,000: 110 points</li>
                        <li>change in price > 500,000: 150 points</li>
                    </ul>
                </ul>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('buy_clothes') }}">
                    <button type="submit" id="buy_clothes" class="{{ 'afford' if ((0.01 * player_info.current_salary) < amt_can_afford) else 'not-afford' }}">Buy clothes</button><br>
                    <label>pay ${{ "{:,.0f}".format(0.01 * player_info.current_salary) }}</label><br>
                    <label>receive {{ "{:,.0f}".format(50 * num_people) }} points</label>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_buy_clothes }}</td>
            <td>
                <ul>
                    <li>pay 1% of current salary</li>
                    <li>receive 50 points per person</li>
                </ul>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('travel', loc='local') }}">
                    <button type="submit" id="local_travel" class="{{ 'afford' if ((500 * num_people) < amt_can_afford) else 'not-afford' }}">Local Travel</button><br>
                    {% if (player_info.job in ["Pilot", "Flight Attendant"]) or benefits %}
                    <label>pay ${{ "{:,.0f}".format(500 * (num_people - 2 if num_people - 2 > 0 else 0)) }}</label><br>
                    {% else %}
                    <label>pay ${{ "{:,.0f}".format(500 * num_people) }}</label><br>
                    {% endif %}
                    <label>receive {{ "{:,.0f}".format(10 + (20 * num_people)) }} points</label>
                </form>
                <form action="{{ url_for('travel', loc='domestic') }}">
                    <button type="submit" id="domestic_travel" class="{{ 'afford' if ((1000 * num_people) < amt_can_afford) else 'not-afford' }}">Domestic Travel</button><br>
                    <label>pay ${{ "{:,.0f}".format(1000 * num_people) }}</label><br>
                    <label>receive {{ "{:,.0f}".format(40 + (30 * num_people)) }} points</label>
                </form>
                <form action="{{ url_for('travel', loc='international') }}">
                    <button type="submit" id="international_travel" class="{{ 'afford' if ((5000 * num_people) < amt_can_afford) else 'not-afford' }}">International Travel</button><br>
                    <label>pay ${{ "{:,.0f}".format(5000 * num_people) }}</label><br>
                    <label>receive {{ "{:,.0f}".format(60 + (40 * num_people)) }} points</label>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_travel }}</td>
            <td>
                <ul>
                    <li>Local: pay $500 per person, receive (10 + 20 per person) points</li>
                    <li>Domestic: pay $1000 per person, receive (40 + 30 per person) points</li>
                    <li>International: pay $5000 per person, receive (60 + 40 per person) points</li>
                </ul>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('change_marriage', mtype='marriage') }}">
                    <button type="submit" id="get_married">Get married</button>
                </form>
                <form action="{{ url_for('change_marriage', mtype='divorce') }}">
                    <button type="submit" id="get_divorced">Get divorced</button>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_change_married }}</td>
            <td>
                <ul>
                    <li>get married:</li>
                        <ul><li>+1 person, +50 points, 50% off taxes</li></ul>
                    <li>get divorced:</li>
                        <ul><li>-1 person, pay lawyer $1000, lose 1% of points, 100% taxes</li></ul>
                </ul>
            </td>
            <td>
                <ul>
                    <li>get married:</li>
                        <ul>
                            <li class="{{ 'no' if player_info.path == 'college' else 'yes' }}">must be out of college</li>
                            <li class="{{ 'no' if player_info.married else 'yes' }}">must be single</li>
                            <li class="{{ 'yes' if player_info.house != 'None' and house.category != 'no-family' and player_info.car != 'None' and car.category != 'no-family' else 'no' }}">have at least small family house/car</li>
                        </ul>
                    <li>get divorced:</li>
                        <ul><li class="{{ 'yes' if player_info.married else 'no' }}">must be married</li></ul>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('have_kids') }}">
                    <button type="submit" id="have_kid">Have Kids</button>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_have_kid }}</td>
            <td>
                <ul>
                    <li>roll: 1-5 = single, 6 = twins</li>
                    <li>+100 points per child <= 4 kids, otherwise -50 points per child</li>
                    <li>pay $1500 school fee to the teacher per new child</li>
                    <li>to have 3rd child, must upgrade house and car</li>
                    <li>4 years to upgrade if twins after first child</li>
                    <li class="once">less likely to have kids as age:</li>
                    <ul>
                        <li class="once" id="child-100">under 36 = 100% chance of child</li>
                        <li class="once" id="child-75">ages 36-40 = 75% chance of child</li>
                        <li class="once" id="child-50">ages 41-45 = 50% chance of child</li>
                    </ul>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="{{ 'yes' if player_info.married else 'no' }}">must be married</li>
                    <li class="{{ 'yes' if player_info.age <= 45 else 'no' }}">age <= 45</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('have_grandkids') }}">
                    <button type="submit" id="have_grandkid">Have Grandkids</button>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_have_kid }}</td>
            <td>
                <ul>
                    <li>pick x numbers on die (x = # kids over 18 / 2, round up, + 1, max=5)</li>
                    <li>if roll #, get grandchild</li>
                    <li>+200 points per grandchild</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="{{ 'yes' if player_info.oldest_child_age >= 18 else 'no' }}">oldest child must be at least 18</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('buy_pet') }}">
                    <button type="submit" id="buy_pet" class="{{ 'afford' if ((100) < amt_can_afford) else 'not-afford' }}">Buy Pet</button>
                </form>
            </td>
            <td></td>
            <td>
                <ul>
                    <li>pay $100</li>
                    <li>do not incur minor medical fees</li>
                    <li>receive 10 points per year</li>
                    <span class="once">* can only have one pet</span>
                </ul>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                {% if can_switch_job %}
                <form action="{{ url_for('jobs') }}">
                    <button type="submit" id="switch_jobs">Switch Jobs</button>
                </form>
                {% endif %}
                {% if can_get_job %}
                <form action="{{ url_for('jobs') }}">
                    <button type="submit" id="get_job">Get Job</button>
                </form>
                {% endif %}
                {% if can_quit_job %}
                <form action="{{ url_for('quit_job') }}">
                    <button type="submit" id="quit_job">Quit Job</button>
                </form>
                {% endif %}
                {% if can_get_promotion %}
                <form action="{{ url_for('get_promotion') }}">
                    <button type="submit" id="get_promotion">Get Promotion</button>
                </form>
                {% endif %}
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_switch_jobs }}</td>
            <td>
                <ul>
                    {% if can_switch_job %}
                    <li>Switch Jobs:</li>
                    <ul>
                        <li>get new job from same category (if none, then move down category)</li>  
                    </ul>
                    {% endif %}
                    {% if can_get_job %}
                    <li>Get Job:</li>
                    <ul>
                        <li>get job in college</li>  
                    </ul>
                    {% endif %}
                    {% if can_quit_job %}
                    <li>Quit Job:</li>
                    <ul>
                        <li>quit job in college</li>  
                    </ul>
                    {% endif %}
                    {% if can_get_promotion %}
                    <li>Get Promotion:</li>
                    <ul>
                        <li>roll 1, 2, 3: no promotion</li>  
                        <li>roll 4, 5, 6: $5000 raise</li>  
                    </ul>
                    {% endif %}
                </ul>
            </td>
            <td>
            </td>
        </tr> 
        <tr>
            <td class="action-button">
                {% if can_go_to_college %}
                <form action="{{ url_for('go_to_college') }}">
                    <button type="submit" id="go_to_college">Go to College</button>
                </form>
                {% endif %}
                {% if can_go_to_grad_school %}
                <form action="{{ url_for('go_to_grad_school') }}">
                    <button type="submit" id="go_to_grad_school">Go to Grad School</button>
                    <label>Eligible for <span id="grad-school-1-label">{{ 1 if not player_info.done_grad_1 else '' }}</span> <span id="grad-school-2-label">{{ 2 if not player_info.done_grad_2 else '' }}</span> <span id="grad-school-6-label">{{ 6 if not player_info.done_grad_6 else '' }}</span> yr grad school</label>
                </form>
                {% endif %}
            </td>
            <td class="center yrs-wait"></td>
            <td>
                <ul>
                    {% if can_go_to_college %}
                        <li>go to 4 yr college</li>  
                        <span class="once">* eligible for scholarships but not parent contribution</span><br>
                        {% if not (player_info.path == "military") %}
                        <span class="once">* keep current job part-time for half salary</span><br> 
                        {% else %}
                        <span class="once">* must get regular job part-time for half salary</span><br>
                        {% endif %}
                        {% if player_info.path == "military" and player_info.car == "None" %}
                        <span class="once">* must get vehicle</span><br>
                        {% endif %}
                        {% if player_info.path == "military" and player_info.house == "None" %}
                        <span class="once">* must get house</span><br>
                        {% endif %}
                    {% endif %}
                    {% if can_go_to_grad_school %}
                    <li>go to grad school, can graduate after 1, 2, or 6 yrs</li> 
                    <i>see jobs page for career options</i>
                    <span class="once">* eligible for scholarships but not parent contribution</span><br>
                    <span class="once">* keep current job part-time for half salary</span>
                    {% endif %}
                </ul>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('peace_corps') }}">
                    <button type="submit" id="peace_corps" class="{{ 'afford' if ((1000) < amt_can_afford) else 'not-afford' }}">Peace Corps</button>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_peace_corps }}</td>
            <td>
                <ul>
                    <li>pay $1000</li>
                    <li>receive 75 points</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="{{ 'no' if player_info.married else 'yes' }}">must be single</li>
                    <li class="{{ 'yes' if player_info.age <= 45 else 'no' }}">age <= 45</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('mission_trip') }}">
                    <button type="submit" id="mission_trip"  class="{{ 'afford' if ((10000) < amt_can_afford) else 'not-afford' }}">Mission Trip</button>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_mission_trip }}</td>
            <td>
                <ul>
                    <li>pay $10,000</li>
                    <li>receive 500 points</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="{{ 'no' if player_info.married else 'yes' }}">must be single</li>
                    <li class="{{ 'yes' if player_info.age > 45 else 'no' }}">age > 45</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('pool', ptype='buy') }}">
                    <button type="submit" id="buy_pool" class="{{ 'afford' if ((100000) < amt_can_afford) else 'not-afford' }}">Buy Pool</button>
                </form>
                <form action="{{ url_for('pool', ptype='sell') }}">
                    <button type="submit" id="sell_pool">Sell Pool</button>
                </form>
                <form action="{{ url_for('major_donor') }}">
                    <button type="submit" id="major_donor" class="{{ 'afford' if ((1000000) < amt_can_afford) else 'not-afford' }}">Major Donor</button>
                </form>
                <form action="{{ url_for('season_tickets') }}">
                    <button type="submit" id="season_tickets" class="{{ 'afford' if ((10000 * num_people) < amt_can_afford) else 'not-afford' }}">Season Tickets</button><br>
                    <label>pay ${{ "{:,.0f}".format(50000 + (10000 * num_people)) }}</label><br>
                    <label>receive {{ "{:,.0f}".format(200 * num_people) }} points</label>
                </form>
                <form action="{{ url_for('backpacking') }}">
                    <button type="submit" id="backpacking" class="{{ 'afford' if ((5000 * num_people) < amt_can_afford) else 'not-afford' }}">Backpacking</button><br>
                    <label>pay ${{ "{:,.0f}".format(5000 * num_people) }}</label><br>
                    <label>receive {{ 250 }} points</label>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_rich_action }}</td>
            <td>
                <ul>
                    <li>Buy pool:</li>
                    <ul>
                        <li>pay $100,000</li>
                        <li>receive 250 points per year</li>
                        <li>pay $20,000 per year for pool maintenance</li>
                    </ul>
                    <li>Sell pool:</li>
                    <ul>
                        <li>no more pool maintenance payments</li>
                        <li>no more yearly points for pool</li>
                    </ul>
                    <li>Major Donor:</li>
                    <ul>
                        <li>pay $1,000,000</li>
                        <li>receive 5000 points</li>
                        <span class="once">* can only do once</span>
                    </ul>
                    <li>Season Tickets:</li>
                    <ul>
                        <li>pay $50,000 + $10,000 per person</li>
                        <li>receive 200 points per person</li>
                    </ul>
                    <li>Backpacking:</li>
                    <ul>
                        <li>pay $5000 per person</li>
                        <li>receive 250 points</li>
                    </ul>
                </ul>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="action-button">
                <form action="{{ url_for('invest') }}">
                    <p id='dollar-sign'>$</p>
                    <input id="invest-amount" name="amount">
                    <button type="submit" id="invest">Invest</button>
                </form>
            </td>
            <td class="center yrs-wait">{{ player_info.yrs_til_invest }}</td>
            <td>
                <ul>
                    <li>choose amount to put in</li>
                    <li>roll: even = 25% gain, odd = 10% loss</li>
                </ul>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        var gray = JSON.parse('{{ disabled|tojson }}');
        for(const key in gray) {
            if(gray[key]) {   // disable action 
                document.getElementById(key).disabled = true;
            }
        }

        // car =  "{{ car }}";
        // yrs_college = parseFloat("{{ player_info.yrs_college }}");
        // if(((car == "Skateboard") || (car == "Bike")) && (yrs_college >= 2))
        //     document.getElementById('change_car').disabled = false;

        function updateCarPoints() {
            car_from =  document.getElementById("car-from").value;
            car_to =  document.getElementById("car-to").value;
            car_prices = JSON.parse('{{ car_costs|tojson }}');
     
            change_in_price = car_prices[car_to] - car_prices[car_from];
            downgrade = 1;
            if(change_in_price < 0)  // negative: downgrade = minus points
                downgrade = -1;
            change_in_price = Math.abs(change_in_price)

            // determine change in points
            change_in_points = 0
            if(car_from === car_to)
                change_in_points = 0;   // cannot switch to current car
            else if(change_in_price <= 10000)
                change_in_points = 10 * downgrade;
            else if(change_in_price <= 20000)
                change_in_points = 20 * downgrade;
            else if(change_in_price <= 50000)
                change_in_points = 35 * downgrade;
            else if(change_in_price <= 80000)
                change_in_points = 55 * downgrade;
            else
                change_in_points = 80 * downgrade;

            document.getElementById("car-change-points").innerHTML = change_in_points;
        }
        
        function updateHousePoints() {
            house_from =  document.getElementById("house-from").value;
            house_to =  document.getElementById("house-to").value;
            house_prices = JSON.parse('{{ house_costs|tojson }}');
         
            change_in_price = house_prices[house_to] - house_prices[house_from];
            downgrade = 1;
            if(change_in_price < 0)  // negative: downgrade = minus points
                downgrade = -1;
            change_in_price = Math.abs(change_in_price)

            // determine change in points
            change_in_points = 0
            if(house_from === house_to)
            change_in_points = 0;   // cannot switch to current car
            else if(change_in_price <= 10000)
                change_in_points = 10 * downgrade;
            else if(change_in_price <= 20000)
                change_in_points = 20 * downgrade;
            else if(change_in_price <= 50000)
                change_in_points = 35 * downgrade;
            else if(change_in_price <= 80000)
                change_in_points = 55 * downgrade;
            else
                change_in_points = 80 * downgrade;

            document.getElementById("house-change-points").innerHTML = change_in_points;
        }

        cur_age = parseFloat("{{ player_info.age }}");
        if(cur_age <= 35)
            document.getElementById("child-100").setAttribute('style', 'font-weight: bold;');
        else if((cur_age > 35) && (cur_age <= 40))
            document.getElementById("child-75").setAttribute('style', 'font-weight: bold;');
        else if((cur_age > 40) && (cur_age <= 45))
            document.getElementById("child-50").setAttribute('style', 'font-weight: bold;');
            
        house = "{{ player_info.house }}";
        path = "{{ player_info.path }}";
        if((cur_age == 22) && (house == "None") && (path != "military")) {
            // force to buy house by disabling all other action buttons
            document.querySelectorAll('button').forEach(btn => {
                btn.disabled = true;
            });
            document.getElementById('change_house').disabled = false;
        }

        money = parseFloat("{{ player_info.money }}");
        loans_int = parseFloat("{{ loans_int }}");
        if((money - loans_int) < 0) { // cannot afford any action
            document.querySelectorAll('.afford').forEach(btn => {
                btn.classList.add('not-afford');
            });
        }
        else {
            document.querySelectorAll('.afford').forEach(btn => {
                btn.classList.add('afford');
            });
            document.querySelectorAll('.not-afford').forEach(btn => {
                btn.classList.add('not-afford');
            });
        }

        need_loan = "{{ player_info.need_loan }}".toLowerCase() == "true" ? true : false;
        turn_num = parseFloat("{{ player_info.turn_num }}");
        if((cur_age == 65) || (need_loan) || (turn_num == -1)) {  // game over or force to get loan or game not started
            document.querySelectorAll('button').forEach(btn => {
                btn.disabled = true;
            });
        }
    </script>
{% endblock %}
