{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player_info.css') }}">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ JSGlue.include() }}

    <div id="game-details">
        <h4 id="game-id" class="detail">Game ID: {{ game.id }}</h4>
        <h4 id="date-started" class="detail">Started: <span id="date">{{ moment(game.date_started).format('MM/DD/YY') }}</span></h4>
        {% if game.finished %}
        <h4 id="date-finished" class="detail">Finished: <span id="date">{{ moment(game.date_finished).format('MM/DD/YY') }}</span></h4>
        {% endif %}
    {% if not game.finished %}
        {% if not game.roll_order %}
        <form action="{{ url_for('set_roll_order') }}">
            <button type="submit" id="roll-order-button" class="detail">
                <input type="image" id="roll-image" alt="Roll" src="{{ url_for('static', filename='imgs/die.png') }}">
            </button>
        </form>
        {% endif %}
        {% if game.roll_order and (game.cur_turn == player_info.turn_num) and not player_info.ready %}
        <form action="{{ url_for('set_ready') }}">
            <p class="detail set-up"><b>Set up:</b></p>
            <label for="pick-job" class="detail set-up"><a href="{{ url_for('jobs') }} " id='pick-job-ready'>Pick Job</a></label>
            <label for="pick-car" class="detail set-up"><a href="{{ url_for('vehicles') }}" id='pick-car-ready'>Pick Vehicle</a></label>
            <button type="submit" id="ready-button" class="detail">READY</button>
        </form>
        {% endif %}
        {% if player_info.mil_to_college and player_info.mil_start_college == 0 %}
            {% if player_info.job in ["None", "Military"] %}
            <form action="{{ url_for('jobs') }}">
                <button type="submit" id="mil-to-college-job-button" class="detail">Job</button>
            </form>
            {% endif %}
            {% if player_info.car == "None" %}
            <form action="{{ url_for('vehicles') }}">
                <button type="submit" id="mil-to-college-car-button" class="detail">Vehicle</button>
            </form>
            {% endif %}
            {% if player_info.house == "None" %}
            <form action="{{ url_for('houses') }}">
                <button type="submit" id="mil-to-college-house-button" class="detail">House</button>
            </form>
            {% endif %}
        {% endif %}
        {% if (game.cur_turn == player_info.turn_num) and all_paid and player_info.num_yrs_college == 5 and not player_info.grad_college and not player_info.clicked_button %}
        <form action="{{ url_for('graduate') }}">
            <button type="submit" class="graduate-button detail">Graduate</button>
        </form>
        <form action="{{ url_for('go_to_grad_school') }}">
            <button type="submit" class="grad-school-button detail">Grad School</button>
        </form>
        {% endif %}
        {% if (game.cur_turn == player_info.turn_num) and all_paid and player_info.grad_school and player_info.num_yrs_grad_school == 2 and not player_info.done_grad_1 and not player_info.clicked_button %}
        <form action="{{ url_for('graduate') }}">
            <button type="submit" class="graduate-button detail">Graduate</button>
        </form>
        <form action="{{ url_for('continue_grad_school') }}">
            <button type="submit" class="continue-grad-btn detail">Continue Grad School</button>
        </form>
        {% endif %}
        {% if (game.cur_turn == player_info.turn_num) and all_paid and player_info.num_yrs_grad_school == 3 and not player_info.done_grad_2 and not player_info.clicked_button %}
        <form action="{{ url_for('graduate') }}">
            <button type="submit" class="graduate-button detail">Graduate</button>
        </form>
        <form action="{{ url_for('continue_grad_school') }}">
            <button type="submit" class="continue-grad-btn detail">Continue Grad School</button>
        </form>
        {% endif %}
        {% if player_info.end_of_year %}
        <!-- <td id="side-button-cell" colspan="2"> -->
            <form action="{{ url_for('expenses', testing='false', data='none') }}" id="end-of-year-form">
                <button type="submit" id="end-of-year-button">End of Year</button>
            </form>
        <!-- </td> -->
        {% endif %}
        {% if announcements %}
        {% for announcement, level in announcements.items() %}
            <h3 class="detail announcement {{ level }} {{ 'bold-name' if announcement == cur_turn_name or level != 'turn' else 'normal-name' }}">{{ announcement }}</h3>
        {% endfor %}
        {% endif %}
    {% endif %}
    </div>
    <table id="player-info-table">
        <tr>
            <td class="field-name"><label class="field-label gray">Name</label></td>
            <td class="field-val"><label class="black-border">{{ name }}</label></td>
            <td class="field-name"><label class="field-label gray">Age</label></td>
            <td class="field-val"><label class="black-border">{{ player_info.age }}</label></td>
            {% if player_info.points < 0 %}
            <td class="field-name"><label class="field-label green">Points</label></td>
            <td class="field-val negative"><label class="black-border">{{ "{:,.0f}".format(player_info.points) }}</label></td>
            {% else %}
            <td class="field-name"><label class="field-label green">Points</label></td>
            <td class="field-val"><label class="black-border">{{ "{:,.0f}".format(player_info.points) }}</label></td>
            {% endif %}
            {% if (player_info.money < 0) or ((player_info.money - loans_int) < 0) %}
            <td class="field-name"><label class="field-label green">$$$</label></td>
            <td class="field-val negative"><label class="black-border">{{ "{:,.0f}".format(player_info.money) }}</label></td>
            {% else %}
            <td class="field-name"><label class="field-label green">$$$</label></td>
            <td class="field-val"><label class="black-border">{{ "{:,.0f}".format(player_info.money) }}</label></td>
            {% endif %}
            <td id="side-button-cell" rowspan="2" colspan="2" class="card-cell">
                <form action="{{ url_for('go_to_card') }}" id="card-form">
                    <input hidden name="card" value="{{ player_info.last_card }}">
                    <button type="submit" id="card">{{ player_info.last_card }}</button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="field-name" colspan="2">
                {% if player_info.age < 22 %}
                <label class="field-label msg"><span class="bold">Parent Aid:</span> <span class="not-bold">${{ "{:,.0f}".format(player_info.parent_help) }}/yr, {{ 22 - player_info.age }} {{ 'yr' if 22 - player_info.age == 1 else 'yrs' }}</span></label>
                {% else %}
                <label class="field-label msg"><span class="bold">Retirement:</span> <span class="not-bold {{ 'retire-alert' if 65 - player_info.age <= 10 else '' }}">{{ 65 - player_info.age }}  {{ 'yr' if 65 - player_info.age == 1 else 'yrs' }}</span></label>
                {% endif %}
            </td>
            <!-- <td class="field-val"><label class="black-border">{{ player_info.path }}</label></td> -->
            <td class="field-name"><label class="field-label yellow">Job</label></td>
            <td class="field-val"><label class="black-border">{{ player_info.job }}</label></td>
            <td class="field-name"><label class="field-label yellow">Salary</label></td>
            <td class="field-val"><label class="black-border">{{ "{:,.0f}".format(player_info.current_salary) }}</label></td>
            <td class="field-name"><label class="field-label yellow">Raise</label></td>
            {% if player_info.cur_time_til_raise == 0 %}
            <td class="field-val"><label class="black-border">{{ "N/A" }}</label></td>
            {% elif player_info.cur_time_til_raise == 1 %}
            <td class="field-val"><label class="black-border">in {{ player_info.cur_time_til_raise }} yr</label></td>
            {% else %}
            <td class="field-val"><label class="black-border">in {{ player_info.cur_time_til_raise }} yrs</label></td>
            {% endif %}
        </tr>
        <tr>
            <td class="field-name"><label class="field-label red">Car</label></td>
            <td class="field-val"><label class="black-border">{{ player_info.car }}</label></td>
            <td class="field-name"><label class="field-label red">House</label></td>
            <td class="field-val"><label class="black-border">{{ player_info.house }}</label></td>
            <td class="field-name" data-toggle="tooltip" data-html="true" title="interest rate = 10% <br> auto pay 0.5% back per yr <br>lose (loans / 10,000) pts/yr"><label class="field-label purple">Loans</label></td>
            <td class="field-val"><label class="black-border">{{ "{:,.0f}".format(loans_int) }}</label></td>
            <td id="side-button-cell" colspan="2" class=""><label class="rounded purple">
                <form action="{{ url_for('get_loan') }}" id="loans-form">
                    <p id='dollar-sign'>$</p>
                    <input id="loan-amount" name="amount">
                    <button type="submit" id="get-loan-button">Loan</button><br>
                </form></label>
            </td>
            <td id="side-button-cell" colspan="2">
                <form action="{{ url_for('pick_card', game_id=game.id) }}">
                    <button type="submit" id="pick-card-button">Pick Card</button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="field-name"><label class="field-label blue">People</label></td>
            <td class="field-val"><label class="black-border">{{ num_people }}</label></td>
            <td class="field-name"><label class="field-label blue">Married</label></td>
            <td class="field-val"><label class="black-border">{{ "yes" if player_info.married else "no" }}</label></td>
            <td class="field-name"><label class="field-label blue" data-toggle="tooltip" data-html="true" title="under 18" data-placement="bottom">Kids</label></td>
            <td class="field-val"><label class="black-border">{{ player_info.num_kids }}</label></td>
            <td class="field-name"><label class="field-label blue">Ages</label></td>
            <td class="field-val"><label class="black-border">{{ ",".join(player_info.kids_ages.split(";")) }}</label></td>
            <td id="side-button-cell" colspan="2">
                <form action="{{ url_for('actions') }}">
                    <button type="submit" id="do-action-button">Action</button>
                </form>
                <form action="{{ url_for('no_action') }}">
                    <button type="submit" id="no-action-button">No Action</button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="field-name"><label class="field-label brown">College</label></td>
            {% if player_info.num_yrs_college > 0 and player_info.num_yrs_college < 5 %}
                {% if (5 - player_info.num_yrs_college) == 1 %}
                <td class="field-val"><label class="black-border once">{{ 5 - player_info.num_yrs_college }} yr left</label></td>
                {% else %}
                <td class="field-val"><label class="black-border once">{{ 5 - player_info.num_yrs_college if (5 - player_info.num_yrs_college) <= 4 else 4 }} yrs left</label></td>
                {% endif %}
            {% elif player_info.grad_college %}
            <td class="field-val complete"><label class="black-border">Graduated!</label></td>
            {% elif player_info.num_yrs_college == 5 and not player_info.clicked_button %}
            <td class="field-val"><label class="black-border">0 yrs left</label></td>
            {% else %}
            <td class="field-val"><label class="black-border">N/A</label></td>
            {% endif %}
            <td class="field-name"><label class="field-label brown">Grad 1</label></td>
            {% if player_info.grad_school and not player_info.done_grad_1 and player_info.num_yrs_grad_school < 2 %}
                {% if (2 - player_info.num_yrs_grad_school) == 1 %}
                <td class="field-val"><label class="black-border once">{{ 2 - player_info.num_yrs_grad_school }} yr left</label></td>
                {% elif (2 - player_info.num_yrs_grad_school) < 0 %}
                <td class="field-val"><label class="black-border once">N/A</label></td>
                {% else %}
                <td class="field-val"><label class="black-border once">{{ 2 - player_info.num_yrs_grad_school }} yrs left</label></td>
                {% endif %}
            {% elif player_info.done_grad_1 %}
            <td class="field-val complete"><label class="black-border">Graduated!</label></td>
            {% elif player_info.num_yrs_grad_school == 2 and not player_info.clicked_button %}
            <td class="field-val"><label class="black-border">0 yrs left</label></td>
            {% else %}
            <td class="field-val"><label class="black-border">N/A</label></td>
            {% endif %}
            <td class="field-name"><label class="field-label brown">Grad 2</label></td>
            {% if player_info.grad_school and not player_info.done_grad_2 and player_info.num_yrs_grad_school < 3 %}
                {% if (3 - player_info.num_yrs_grad_school) == 1 %}
                <td class="field-val"><label class="black-border once">{{ 3 - player_info.num_yrs_grad_school }} yr left</label></td>
                {% elif (3 - player_info.num_yrs_grad_school) < 0 %}
                <td class="field-val"><label class="black-border once">N/A</label></td>
                {% else %}
                <td class="field-val"><label class="black-border once">{{ 3 - player_info.num_yrs_grad_school }} yrs left</label></td>
                {% endif %}
            {% elif player_info.done_grad_2 %}
            <td class="field-val complete"><label class="black-border">Graduated!</label></td>
            {% elif player_info.num_yrs_grad_school == 3 and not player_info.clicked_button %}
            <td class="field-val"><label class="black-border">0 yrs left</label></td>
            {% else %}
            <td class="field-val"><label class="black-border">N/A</label></td>
            {% endif %}
            <td class="field-name"><label class="field-label brown">Grad 6</label></td>
            {% if player_info.grad_school and not player_info.done_grad_6 %}
                {% if (7 - player_info.num_yrs_grad_school) == 1 %}
                <td class="field-val"><label class="black-border once">{{ 7 - player_info.num_yrs_grad_school }} yr left</label></td>
                {% elif (7 - player_info.num_yrs_grad_school) < 0 %}
                <td class="field-val"><label class="black-border once">N/A</label></td>
                {% else %}
                <td class="field-val"><label class="black-border once">{{ 7 - player_info.num_yrs_grad_school }} yrs left</label></td>
                {% endif %}
            {% elif player_info.done_grad_6 %}
            <td class="field-val complete"><label class="black-border">Graduated!</label></td>
            {% elif player_info.num_yrs_grad_school == 7 and not player_info.clicked_button %}
            <td class="field-val"><label class="black-border">0 yrs left</label></td>
            {% else %}
            <td class="field-val"><label class="black-border">N/A</label></td>
            {% endif %}
            <td id="side-button-cell" colspan="2">
            </td>
        </tr>
    </table>
    <!-- <label class="notes-label">Timeline</label> -->
    <!-- <div id="timeline1" class="timeline"></div> -->
    <!-- <div id="timeline"></div> -->
    <!-- <div id="timeline2" class="timeline"></div> -->
    <div id="notes">
        <label class="notes-label">Notes</label>
        <table id="sticky-notes">
            <tr>
                <td class="sticky-note">
                    <form action="{{ url_for('save_notes', notepad=1) }}">
                        <textarea rows=10 cols=25 maxlength="255" id="notepad1" name="notepad" oninput="{{ url_for('save_notes', notepad=1) }}">{{ player_info.notes1 }}</textarea>
                        <button type="submit" class="save-note-button">SAVE</button>
                    </form>
                </td>
                <td class="sticky-note">
                    <form action="{{ url_for('save_notes', notepad=2) }}">
                        <textarea rows=10 cols=25 maxlength="255" id="notepad2" name="notepad">{{ player_info.notes2 }} </textarea>
                        <button type="submit" class="save-note-button">SAVE</button>
                    </form>
                </td>
                <td class="sticky-note">
                    <form action="{{ url_for('save_notes', notepad=3) }}">
                        <textarea rows=10 cols=25 maxlength="255" id="notepad3" name="notepad">{{ player_info.notes3 }} </textarea>
                        <button type="submit" class="save-note-button">SAVE</button>
                    </form>
                </td>
                <td class="sticky-note">
                    <form action="{{ url_for('save_notes', notepad=4) }}">
                        <textarea rows=10 cols=25 maxlength="255" id="notepad4" name="notepad">{{ player_info.notes4 }} </textarea>
                        <button type="submit" class="save-note-button">SAVE</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <!-- <script src="./static/js/timeline.js"></script> -->
    <script>
        // window.onbeforeunload = function(e) {
        //     note1 = document.getElementById('notepad1').value.replace(/\n/g, '<br/>');
        //     note2 = document.getElementById('notepad2').value;
        //     note3 = document.getElementById('notepad3').value;
        //     note4 = document.getElementById('notepad4').value;
        //     console.log(note1);
        //     // if(note1 == '') note1 = 'To-Do:'
        //     // if(note2 == '') note2 = 'To-Do:'
        //     // if(note3 == '') note3 = 'To-Do:'
        //     // if(note4 == '') note4 = 'To-Do:'
        //     $.get(Flask.url_for('save_allnotes', {note1: note1, note2: note2, note3: note3, note4: note4}));
        // };

        job = "{{ player_info.job }}";
        car = "{{ player_info.car }}";
        pick_job_ready = document.getElementById('pick-job-ready');
        if(pick_job_ready && (job == "None") && (car != "Skateboard"))
            pick_job_ready.classList.add('announcement-link');
        else if(pick_job_ready && ((job != "None") || (car == "Skateboard"))) {
            pick_job_ready.classList.remove('announcement-link');
            pick_job_ready.classList.add('link-done');
        }
        
        pick_car_ready = document.getElementById('pick-car-ready');
        if(pick_car_ready && (car == "None") && (job != "Mlitary"))
            pick_car_ready.classList.add('announcement-link');
        else if (pick_car_ready && (car != "None")) {
            pick_car_ready.classList.remove('announcement-link');
            pick_car_ready.classList.add('link-done');
        }

        cur_age = parseFloat("{{ player_info.age }}");
        game_started = "{{ game.roll_order }}";
        if((cur_age == 65) || (game_started.toLowerCase() == "false")) {  // game over
            document.querySelectorAll('button').forEach(btn => {
                btn.disabled = true;
            });
            document.getElementById('roll-order-button').disabled = false;
        }

        house = "{{ player_info.house }}";
        path = "{{ player_info.path }}";
        if((cur_age == 22) && (house == "None") && (path != "military")) {
            // force to buy house, need to disable no action button
            document.getElementById('no-action-button').disabled = true;
        }

        need_loan = "{{ player_info.need_loan }}";
        if(need_loan.toLowerCase() == "true") {
            // force to take out loan
            document.getElementById('pick-card-button').disabled = true;
            document.getElementById('do-action-button').disabled = true;
            document.getElementById('no-action-button').disabled = true;
            document.getElementById('end-of-year-button').disabled = true;
            document.getElementById('college-button').disabled = true;
        }
        
        picked_card = "{{ player_info.picked_card }}";
        done_action = "{{ player_info.done_action }}";
        end_of_year = "{{ player_info.end_of_year }}";
        ready_to_start = "{{ game.ready_to_start }}";
        all_paid = "{{ all_paid }}".toLowerCase() == "true" ? true : false;
        mil_to_college = "{{ player_info.mil_to_college }}".toLowerCase() == "true" ? true : false;
        mil_start_college = parseInt("{{ player_info.mil_start_college }}");
        if((picked_card.toLowerCase() == "true")) {
            document.getElementById('pick-card-button').disabled = true;
            if((mil_to_college && mil_start_college == 0)) {
                document.getElementById('do-action-button').disabled = true;
                document.getElementById("no-action-button").disabled = true;
            }
            else {
                document.getElementById('do-action-button').disabled = false;
                document.getElementById('no-action-button').disabled = false;
    
                disable_no_action = "{{ player_info.disable_no_action }}".toLowerCase() == "true" ? true : false;
                if(disable_no_action) 
                    document.getElementById("no-action-button").disabled = true;
                else
                    document.getElementById('no-action-button').disabled = false;
            }
        }
        else if((ready_to_start.toLowerCase() == "false") || (!all_paid)) {    // game not started yet
            document.getElementById('pick-card-button').disabled = true;
            document.getElementById('do-action-button').disabled = true;
            document.getElementById('no-action-button').disabled = true;
        }
        else if(all_paid) {  // have not yet picked card
            document.getElementById('pick-card-button').disabled = false;
            document.getElementById('do-action-button').disabled = true;
            document.getElementById('no-action-button').disabled = true;
        }

        if(done_action.toLowerCase() == "true") {
            document.getElementById('do-action-button').disabled = true;
            document.getElementById('no-action-button').disabled = true;
        }

        graduate_button = document.getElementsByClassName('graduate-button');
        if(graduate_button.length > 0)  // must decide whether or not to graduate before can pick card
        {
            document.getElementById('pick-card-button').disabled = true;
        }

        // if not your turn, can't pick card
        cur_turn = parseInt("{{ cur_turn }}");
        turn_num = parseInt("{{ player_info.turn_num }}");
        if(cur_turn != turn_num) 
            document.getElementById('pick-card-button').disabled = true;

        end_of_year_btn = document.getElementById('end-of-year-button')
        if(end_of_year_btn) {
            if(end_of_year.toLowerCase() == "true") {
                end_of_year_btn.disabled = false;
            }
            else {
                end_of_year_btn.disabled = true;
            }
        }

        // new Timeline('timeline', 18, 65, [
        //     {"start": 18, "end": 20, "text": 'test', "color": 'lorem'},
        //     {"start": 20, "end": 20, "text": 'test2', "color": 'dolor'},
        // ]);
    

        // new Timesheet('timeline', 1918, 1941, [  // not working with 18-65 so just subtracting 1900 when displaying ages
            // ['1918', 'test', 'lorem'],
            // ['1919', '1920', 'Some great memories', 'ipsum'],
            // ['1919', 'Had very bad luck'],
            // ['1920', '1922', 'At least had fun', 'dolor'],
            // ['1925', '1930', 'Enjoyed those times as well', 'ipsum'],
            // ['1935', '1940', 'Bad luck again', 'default'],
            // ['1941', 'For a long time nothing happened', 'dolor'],
        // ]);

        // new Timesheet('timeline2', 1942, 1965, [  // not working with 18-65 so just subtracting 1900 when displaying ages
        //     ['48', 'test', 'lorem'],
        //     ['49', '50', 'Some great memories', 'ipsum'],
        //     ['49', 'Had very bad luck'],
        //     ['50', '52', 'At least had fun', 'dolor'],
        //     ['55', '60', 'Enjoyed those times as well', 'ipsum'],
        //     ['55', '62', 'Bad luck again', 'default'],
        //     ['65', 'For a long time nothing happened', 'dolor'],
        // ]);
    </script>
{% endblock %}
