{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player_info.css') }}">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <div id="game-details">
        <h4 id="game-id" class="detail">Game ID: {{ game.id }}</h4>
        <h4 id="date-started" class="detail">Started: <span id="date">{{ moment(game.date_started).format('MM/DD/YY') }}</span></h4>
        {% if game.finished %}
        <h4 id="date-finished" class="detail">Finished: <span id="date">{{ moment(game.date_finished).format('MM/DD/YY') }}</span></h4>
        {% endif %}
    {% if not game.finished %}
        {% if not game.roll_order %}
        <form action="{{ url_for('set_roll_order') }}">
            <button type="submit" id="roll-order-button" class="detail">ROLL</button>
        </form>
        {% endif %}
        {% if game.roll_order and (game.cur_turn == player_info.turn_num) and not player_info.ready %}
        <form action="{{ url_for('set_ready') }}">
            <p class="detail set-up"><b>Set up:</b></p>
            <label for="pick-job" class="detail set-up">Pick Job</label>
            <input type="checkbox" id="pick-job" class="detail ready-checkbox">

            <label for="pick-car" class="detail set-up">Pick Vehicle</label>
            <input type="checkbox" id="pick-car" class="detail ready-checkbox">

            <button type="submit" id="ready-button" class="detail">READY</button>
        </form>
        {% endif %}
        {% if player_info.num_yrs_college == 4 %}
        <form action="{{ url_for('graduate') }}">
            <button type="submit" id="ready-button" class="detail">Graduate</button>
        </form>
        <form action="{{ url_for('go_to_grad_school') }}">
            <button type="submit" id="ready-button" class="detail">Grad School</button>
        </form>
        {% endif %}
        {% if player_info.num_yrs_college in [5, 6] %}
        <form action="{{ url_for('graduate') }}">
            <button type="submit" id="ready-button" class="detail">Graduate</button>
        </form>
        <form action="{{ url_for('continue_grad_school') }}">
            <button type="submit" id="ready-button" class="detail">Continue Grad School</button>
        </form>
        {% endif %}
        {% if announcements %}
        {% for announcement, level in announcements.items() %}
            <h3 class="detail announcement {{ level }}">{{ announcement }}</h3>
        {% endfor %}
        {% endif %}
    {% endif %}
    </div>
    <table>
        <tr>
            <td class="field-name gray">Name</td><td class="field-val">{{ name }}</td>
            <td class="field-name gray">Age</td><td class="field-val">{{ player_info.age }}</td>
            {% if player_info.points < 0 %}
            <td class="field-name green negative">Points</td><td class="field-val">{{ "{:,.0f}".format(player_info.points) }}</td>
            {% else %}
            <td class="field-name green">Points</td><td class="field-val">{{ "{:,.0f}".format(player_info.points) }}</td>
            {% endif %}
            {% if player_info.money < 0 %}
            <td class="field-name green negative">$$$</td><td class="field-val">{{ "{:,.0f}".format(player_info.money) }}</td>
            {% else %}
            <td class="field-name green">$$$</td><td class="field-val">{{ "{:,.0f}".format(player_info.money) }}</td>
            {% endif %}
            <td id="side-button-cell" rowspan="2" colspan="2">
                <form action="{{ url_for('go_to_card') }}" id="card-form">
                    <input hidden name="card" value="{{ player_info.last_card }}">
                    <button type="submit" id="card">{{ player_info.last_card }}</button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="field-name yellow">Job</td><td class="field-val">{{ player_info.job }}</td>
            <td class="field-name yellow">Current Salary</td><td class="field-val">{{ "{:,.0f}".format(player_info.current_salary) }}</td>
            <td class="field-name yellow" data-toggle="tooltip" title="income < $40,000: 10% &#013income < $80,000: 20% &#013income < $200,000: 30% &#013income >= $200,000: 40%">Taxes</td><td class="field-val">{{ "{:,.0f}".format(taxes) }}</td>
            <td class="field-name yellow">Yrs Until Raise</td><td class="field-val">{{ player_info.cur_time_til_raise }}</td>
        </tr>
        <tr>

            <td class="field-name yellow">Path</td><td class="field-val">{{ player_info.path }}</td>
            <td class="field-name red">Car</td><td class="field-val">{{ player_info.car }}</td>
            <td class="field-name red">House</td><td class="field-val">{{ player_info.house }}</td>
            <td class="field-name brown">Military Benefits</td><td class="field-val">{{ "yes" if benefits else "no" }}</td>
            <td id="side-button-cell" colspan="2">
                <form action="{{ url_for('pick_card', game_id=game.id) }}">
                    <button type="submit" id="pick-card-button">Pick Card</button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="field-name blue">Married</td><td class="field-val">{{ "yes" if player_info.married else "no" }}</td>
            <td class="field-name blue"># Kids</td><td class="field-val">{{ player_info.num_kids }}</td>
            <td class="field-name blue"># People</td><td class="field-val">{{ num_people }}</td>
            <td class="field-name blue">Oldest Child Age</td><td class="field-val">{{ player_info.oldest_child_age }}</td>
            <td id="side-button-cell" colspan="2">
                <form action="{{ url_for('actions') }}">
                    <button type="submit" id="do-action-button">Action</button>
                </form>
                <form action="{{ url_for('no_action') }}">
                    <button type="submit" id="no-action-button">No Action</button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="field-name orange">Auto Insurance</td><td class="field-val">{{ "yes" if player_info.have_auto_ins else "no" }}</td>
            <td class="field-name orange">Health Insurance</td><td class="field-val">{{ "yes" if player_info.have_health_ins else "no" }}</td>
            <td class="field-name orange">Home Insurance</td><td class="field-val">{{ "yes" if player_info.have_home_ins else "no" }}</td>
            <td class="field-name orange">Pet</td><td class="field-val">{{ "yes" if player_info.have_pet else "no" }}</td>
            <td id="side-button-cell" colspan="2">
                <form action="{{ url_for('expenses', testing='false', data='none') }}">
                    <button type="submit" id="end-of-year-button">End of Year</button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="field-name purple">College Loans</td><td class="field-val">{{ "{:,.0f}".format(player_info.college_loans) }}</td>
            <td class="field-name purple" data-toggle="tooltip" title="within 5 yrs after grad: 5% &#013within 10 yrs after grad: 10% &#013over 10 yrs after grad: 20%">College Loans + Interest</td><td class="field-val">{{ "{:,.0f}".format(college_loan_int) }}</td>
            <td class="field-name purple">Loans</td><td class="field-val">{{ "{:,.0f}".format(player_info.loans) }}</td>
            <td class="field-name purple">Loans + Interest</td><td class="field-val">{{ "{:,.0f}".format(loans_int) }}</td>
            <td id="side-button-cell" colspan="2">
                <form action="{{ url_for('get_loan') }}">
                    <p id='dollar-sign'>$</p>
                    <input id="loan-amount" name="amount">
                    <button type="submit" id="get-loan-button">Loan</button><br>
                </form>
            </td>
        </tr>
    </table>
    <div id="notes">
        <label id="notes-label">Notes</label>
        {% if player_info.path == "military" and player_info.yrs_military >= 2 and not player_info.mil_to_college %}
        <form id="mil-go-to-college" action="{{ url_for(mil_to_college) }}">
            <button id="college-button">Go To College</button>
        </form>
        {% endif %}
        <br>
        <table id="sticky-notes">
            <tr>
                <td class="sticky-note">
                    <form action="{{ url_for('save_notes', notepad=1) }}">
                        <textarea rows=10 cols=25 maxlength="255" id="notepad1" name="notepad">{{ player_info.notes1 }} </textarea>
                        <button type="submit" class="save-note-button">SAVE</button>
                    </form>
                </td>
                <td class="sticky-note">
                    <form action="{{ url_for('save_notes', notepad=2) }}">
                        <textarea rows=10 cols=25 maxlength="255" id="notepad2" name="notepad">{{ player_info.notes2 }} </textarea>
                        <button type="submit" class="save-note-button">SAVE</button>
                    </form>
                </td>
                <td class="sticky-note">
                    <form action="{{ url_for('save_notes', notepad=3) }}">
                        <textarea rows=10 cols=25 maxlength="255" id="notepad3" name="notepad">{{ player_info.notes3 }} </textarea>
                        <button type="submit" class="save-note-button">SAVE</button>
                    </form>
                </td>
                <td class="sticky-note">
                    <form action="{{ url_for('save_notes', notepad=4) }}">
                        <textarea rows=10 cols=25 maxlength="255" id="notepad4" name="notepad">{{ player_info.notes4 }} </textarea>
                        <button type="submit" class="save-note-button">SAVE</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <script>
        window.onbeforeunload = function(e) {
            console.log("hsdf");
            $.GET(url_for('save_allnotes'));
        };

        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        cur_age = parseFloat("{{ player_info.age }}");
        game_started = "{{ game.roll_order }}";
        if((cur_age == 65) || (game_started.toLowerCase() == "false")) {  // game over
            document.querySelectorAll('button').forEach(btn => {
                btn.disabled = true;
            });
            document.getElementById('roll-order-button').disabled = false;
        }

        house = "{{ player_info.house }}";
        path = "{{ player_info.path }}";
        if((cur_age == 22) && (house == "None") && (path != "military")) {
            // force to buy house, need to disable no action button
            document.getElementById('no-action-button').disabled = true;
        }

        need_loan = "{{ player_info.need_loan }}";
        if(need_loan.toLowerCase() == "true") {
            // force to take out loan
            document.getElementById('pick-card-button').disabled = true;
            document.getElementById('do-action-button').disabled = true;
            document.getElementById('no-action-button').disabled = true;
            document.getElementById('end-of-year-button').disabled = true;
            document.getElementById('college-button').disabled = true;
        }
    </script>
{% endblock %}