{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}">
    <table id="regular">
        <tr><th id="table-title" colspan="4">SCOREBOARD</th></tr>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Points</th>
            <th>$$$</th>
        </tr>
        {% for score in scores %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ score["name"] }}</td>
                <td>{{ "{:,.0f}".format(score["points"]) }}</td>
                <td class="{{ 'red' if score['has_loans'] else '' }}">{{ "{:,.0f}".format(score["money"]) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}