{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scoreboard.css') }}">
    <table id="regular">
        <tr><th id="table-title" colspan="4">SCOREBOARD</th></tr>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>$$$</th>
            <th>Points</th>
        </tr>
        {% for rank in ranks %}
            <tr>
                <td>{{ rank['rank'] }}</td>
                <td>{{ rank["name"] }}</td>
                <td class="{{ 'red' if rank['has_loans'] else '' }}">{{ "{:,.0f}".format(rank["money"]) }}</td>
                <td>{{ "{:,.0f}".format(rank["points"]) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
